#landing-cover{
    background: linear-gradient(0deg, rgba(6, 78, 59, 0.75), rgba(6, 78, 59, 0.75)), url(../assets/background.jpg);
    background-size: cover;
}

.with-custom-popover .mantine-Popover-arrow{
    border-top: 1px solid #065F46 !important;
    border-left: 1px solid #065F46 !important;
}