@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 20px;
    overflow-x: hidden !important;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

@layer base{
    h1{
        @apply text-primary-800 block border-b-4 border-primary-800 font-semibold text-2xl
    }

    h1.text-white{
        @apply border-white
    }
}

@layer components{
    .btn-next{
        @apply bg-primary-800 flex px-4 text-white shadow-md py-2 rounded-md items-center justify-between gap-2
    }

    .btn-prev{
        @apply border border-primary-800 flex px-4 text-primary-800 shadow-md py-2 rounded-md items-center justify-between gap-2
    }

    .btn{
        @apply bg-primary-800 flex px-4 py-2 text-white items-center rounded-md gap-2 hover:bg-primary-900 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-800;
    }

    .btn:disabled{
        @apply opacity-70;
    }

    .link{
        @apply text-blue-600 underline decoration-dotted;
    }
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center
    }

    .max-w-1\/2{
        max-width: 50%;
    }

    .min-h-24{
        min-height: 6rem;
    }
}